* {
    padding: 0;
    margin: 0;
}

html,
body {
    height: 100%;
}

header {
    background-color: #3172a7;
    color: #f0f8ff;
    text-shadow: 2px 2px rgb(1, 39, 73);
    height: 15%;
    text-align: center;
    padding: 1.5%;
}

.main {
    display: flex;
    height: 100%;
}

.user-form {
    padding-top: 5%;
}

.btn {
    background-color: #3172a7;
    text-shadow: 1px 1px 1px #000;
    color: #ffffff;
}

.less {
    height: 40%;
}

.city-icon {
    display: flex;
    justify-content: flex-start;
    padding-top: 2%;
    margin-bottom: 0%;
    margin-top: 1%;
    height: 20%;
    background-color: #74b0e0;
    border: solid #3172a7;
    border-radius: 15px;
}

.other {
    width: auto;
    height: 250px;
    border: solid #3172a7;
    border-radius: 15px;
    margin-left: 0.3%;
    margin-top: 1%;
}

.space {
    margin-top: 8%;
    margin-left: 1%;
}

.uv {
    display: flex;
    justify-content: flex-start;
}

.uv p {
    width: 20px;
    height: auto;
    text-align: center;
    margin-left: 2%;
}

.five-day {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #74b0e0;
    border: solid #3172a7;
    border-radius: 15px;
    width: 120px;
    height: 150px;
}

.saved-cities p {
    text-decoration: none;
    color: #808080;
}

.saved-cities p:hover {
    color: #2e93d6;
    cursor: pointer;
}

@media only screen and (max-width: 1200px) {
    body {
        width: 100%;
    }

    .main {
        display: flex;
        flex-direction: column;
    }

    .more {
        display: block;
        
    }

    .less {
        display: flex;
        flex-wrap: wrap;
    }
  }

  @media only screen and (max-width: 995px) {

    .main {
        display: flex;
        flex-direction: column;
    }

    .less {
        display: block;
    }
  }

  @media only screen and (max-width: 560px) {

    .less {
        display: block;
    }

  }